/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
*/

@import "variables";

// Import bootstrap completely
@import "bootstrap";

@import "header";
@import "footer";

body {
  padding-top: 60px; // Bootstrap navbar
  color: $black;
  background-color: $white;
}

// Sticky footer
html, body {
  height: 100%;
  min-height: 100%;
}
#main {
  min-height: 100%;
  height: auto;
  margin: 0 auto 0-$footer-height;
  padding: 0 0 $footer-height;
}

// Give icons some extra margin to the right
.glyphicon {
  margin-right: 3px;
}

// Completely center an object and its text
.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: auto;
}

// Give glyphicons in anchors same colors
a span {
  color: #333
}
a span:hover {
  color: #000
}

.panel {
  text-align: center;

  .btn {
    width: 100%;
  }

  .form-group:last-child {
    margin-bottom: 0;
  }
}
