// Landing page
.landing {
  background-color: lighten($brand-success, 30%);
  .landing-logo-wrapper {
    text-align: center;
    margin-bottom: 15px;
    .landing-logo {
      height: 200px;
      width: 200px;
    }
  }
  .landing-panel {
    border-radius: 6px;
  }
  .landing-heading {
    color: $black;
    text-align: center;
    margin-bottom: 15px;
    padding-bottom: 15px;
    h1 {
      margin: 0;
      margin-top: -10px;
      font-size: 5em;
    }
    h2 {
      margin: 0;
      padding-top: 5px;
      font-size: 1.5em;
    }
  }
  .landing-content {
    .btn-signin {
      width: 100%;
    }
  }
  .landing-footer {
    text-align: center;
    .landing-buttons {
      a {
        display: block;
      }
    }    
  }
}
