<footer>
  <div class="container">
    <p>Made and maintained by <a href="mailto:<%= ENV['DEV_MAIL'] %>"><%= ENV['DEV_NAME'] %></a></p>
    <p>License under <a href="https://github.com/nohm/badger/blob/master/LICENSE">MIT</a></p>
    <ul class="footer-links">
      <li>I am NOT responsible for your links. &middot; I can do whatever I like with them.</li>
    </ul>
  </div>
</footer>
